$img-size: (
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
);

@each $img-size, $i in $img-size {
  img.w-#{$i} {
    @media (max-width: 768px) {
      max-width: $i * 1px;
    }

    @media (max-width: 480px) {
      max-width: 100%;
    }
  }
}
